<html>
    <head>
        <link rel="icon" href="/img/weather.png">
        <title>Help</title>
    </head>
    <body>
        {{>header}}
        <p>{{ notice }}</p>
        {{>footer}}
    </body>
</html> 